.bookSection{
    background-color: #FFFFFF;
    width: 100%;
}
.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 0 auto;
    grid-gap: 50px;
}
.booksCategories h5{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #0C0C0C;
    font-weight: bold;
    padding-top: 70px;
    
}
.booksCategories p{
    text-align: center;
    font-size: 16px;
    color: #0C0C0C;
    margin-top: 10px;
    margin-bottom: 30px;
    
}
.categorieItem{
    display: block;
    background-color: #FFFFFF;
}
.imgBox{
    height: 110px;
    width: 110px;
    background-color: #f1f2f3;
    position: relative;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 100%;
    margin: 15px auto;
}
.categorieItem img{
    height: 65px;
    width: 55px;
    text-align: center; 
}
.categorieItem h5{
    font-size: 20px;
    color: #0c0c0c;
    text-align: center;  
    font-weight: bold;  
}
.categorieItem p{
    font-size: 16px;
    color: #0c0c0c;
    text-align: center; 
     
}
/* .bookCategories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 0 auto;
    
} */